.button {
  display: inline-block;
  border: none;
  padding: $s-size;
  background: $blue;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background: none;
}
